
<!doctype html>
<head>
  <title>Hanji todo</title>
</head>
<body>
  <h1>to do aplikace,ktera zaznamenava ukoly</h1>
  <h2> Hanji todo umi spoustu veci, vyber si v menu co chces udelat</h2>
  <h1> zadej novou pripominku </h1>
  <h3>
    <form method = "POST" action = "/zadana_pripominka">
    Text: <input type = "text" name = "text_pripominky" required><br>
    Termin: <input type = "date" name = "termin" required><br>
    <input type = 'submit' value = 'submit'>
    </form>

  </h3>
</body>
</html>