<!doctype html>
<head>
  <title>Hanji todo</title>
</head>
<body>
  <h1>to do aplikace,ktera zaznamenava ukoly</h1>

  <h1> zapiste cislo id pripominky kterou chcete oznacit jako splnenou </h1>
  <h3>
    <form method = "POST" action = "/splneno">
    ID pripominky kterou chcete oznacit jako splnenou: <input type = "number"
    name = "pripominka_k_oznaceni_id" min = "1" max = "{{last_id}}" required><br>
    <input type = 'submit' value = 'submit'>
    </form>
  </h3>
  <h3>
    <p>Vsechny pripominky jsou: </p>
    <ul>
      {% for n in vse_pripominky %}
      <li> {{n}} </li>
      {% endfor %}
    </ul>
  </h3>
</body>
</html>